<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" type="text/css" href="./style/normalize.css">
	<link rel="stylesheet" type="text/css" href="./style/skeleton.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js"></script>
	<link rel="stylesheet" type="text/css" href="pilnametis.css">
</head>
<body>
	<div id="duomenys">
	<form>
		<label for="vardas">Vardas:
			<input type="text" v-model="name">
		</label>
		<label for="pavarde">Pavarde:
			<input type="text" v-model="surname">
		</label>
		<label for="amzius">Amzius:
			<input type="number" v-model="age">
		</label>
		<div>
			Labas, {{name}} {{surname}} {{age}}
			<span v-if="age>18">Pilnametis</span>
			
			<span v-else-if="age =='Unknown'"></span>
			<span v-else>Nepilnametis</span>
		</div>
	</form>
	<button type="button" v-on:click="greet(name)">Labuka</button>
	
</div>

	<script src="pilnametis.js"></script>
</body>
</html>